﻿body
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em; /* 16x1.125=18 */
    margin: 10px;
}

a
{
    text-decoration: none;
}
a:link
{
}
a:visited
{
}
a:hover
{
    text-decoration: underline;
}
a:active
{
}
