﻿#auth
{
    display: none;
}

#advertisement
{
    display: none;
}

.headline
{
}

    #logo
    {
        margin-right: 20px;
    }

    .actions
    {
        display: block;
        padding-top: 15px;
        text-align: left;
    }
    
        .actions > li
        {
            border-right: 1px solid #d2d2d2;
            display: none;
            margin-right: 10px;
            padding-right: 10px;
        }

        .actions > li:last-child
        {
            border-right: none;
            margin-right: 0;
            padding-right: 0;
        }
        
            .actions > li div
            {
                display: inline;
                white-space: nowrap;
            }

            .actions > li a
            {
                color: #003c7a;
                white-space: nowrap;
            }
            
        .actions .weather,
        .actions .currency-rates
        {
            display: inline !important;
        }

        .actions .weather .temperature
        {
            color: #888;
        }

        .actions .currency-rates ul
        {
            display: inline;
            margin-left: 4px;
        }
        
            .actions .currency-rates ul
            {
                color: #888;
            }

                .actions .currency-rates ul > li
                {
                    border: none;
                    display: inline;
                    margin: 0 5px;
                    padding: 0;
                }

    #searchForm
    {
        display: none;
    }

.main-menu
{
    background-color: #dd0600;
    border-top: 1px solid #dd0800;
    clear: both;
    display: block;
    margin-top: 4px;
}

    .main-menu, .main-menu ul > li
    {
        /* Default */
        background: #e10500;
        /* For WebKit (Safari, Google Chrome etc) */
        background: -webkit-gradient(linear, left top, left bottom, from(#e10500), to(#cb0300));
        /* For Mozilla/Gecko (Firefox etc) */
        background: -moz-linear-gradient(top, #e10500, #cb0300);
        /* For Internet Explorer 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE10500, endColorstr=#FFCB0300);
        /* For Internet Explorer 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE10500, endColorstr=#FFCB0300)";
    }

    .main-menu ul > li
    {
        border-left: 1px solid #df0c00;
        border-right: 1px solid #ac0600;
        border-bottom: 1px solid #dd0800;
        display: block;
        float: left;
        white-space: nowrap;
    }
    
        .main-menu a
        {
            color: #fff;
            display: block;
            font-size: 1.17em; /* 12x1.17=14 */
            margin-bottom: 1px;
            padding: 7px 13px 7px 10px;
        }
        
        .main-menu a:hover
        {
            background: #c30000;
            border-left: 1px solid #c30000;
            margin-left: -1px;
            text-decoration: none;
        }
        
        .main-menu .active a:hover
        {
            background: #fff;
        }

    .main-menu ul > li.active
    {
        background: #fff;
        font-weight: bold;
    }

        .main-menu ul > li.active a
        {
            background: #fff;
            color: #d20d00;
        }

.sub-menu
{
    clear: both;
    display: block;
    margin-top: 10px;
}

    .sub-menu ul > li
    {
        border-right: 1px solid #c0c0c0;
        display: block;
        float: left;
        margin-right: 10px;
        padding-right: 10px;
    }
    
    .sub-menu ul > li:last-child
    {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }
    
        .sub-menu a
        {
            color: #af180e;
            display: block;
        }
