﻿#advertisement
{
    float: right;
    margin-bottom: 4px;
    margin-left: inherit;
    position: relative;
    right: 50%;
}

    #advertisement img
    {
        float: left;
        left: 50%;
        max-width: 100%;
        position: relative;
        width: 100%;
    }
