﻿#auth
{
    left: 10px;
    margin-left: 4px;
    margin-top: 60px;
    position: absolute;
    top: 10px;
}

#advertisement
{
    float: left;
    margin-left: 227px;
}

    #advertisement img
    {
        min-height: 76px;
        width: 100%;
    }
