﻿#auth
{
    font-size: 0.92em;
    margin-bottom: 5px;
    z-index: 10;
}

    #auth li
    {
        display: inline;
        margin-right: 8px;
    }

        #auth a
        {
            line-height: 10px;
        }

        #authLogin
        {
            font-weight: bold;
        }

        #authConnect
        {
            margin-left: -2px;
        }

            #authConnect img
            {
                vertical-align: middle;
            }

#advertisement
{
}

    #advertisement img
    {
        /* fluid image */
        max-width: 100%;
    }

.headline
{
    clear: both;
}

    /* clearfix */
    .headline:after
    {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }

    #logo
    {
        clear: left;
        float: left;
        margin-right: 10px;
    }

    .actions
    {
        clear: both;
        display: block;
        padding-top: 15px;
        text-align: center;
    }

        .actions li
        {
            display: inline;
            border-right: 1px solid #d2d2d2;
            margin-right: 10px;
            padding-right: 10px;
        }

        .actions li:last-child
        {
            border-right: none;
            margin-right: 0;
            padding-right: 0;
        }

            .actions li div
            {
                display: inline;
                white-space: nowrap;
            }

            .actions li a
            {
                color: #003c7a;
                white-space: nowrap;
            }

        .actions .weather .temperature
        {
            color: #888;
        }

        .actions .currency-rates ul
        {
            display: inline;
            margin-left: 4px;
        }

            .actions .currency-rates ul
            {
                color: #888;
            }

                .actions .currency-rates li
                {
                    border: none;
                    display: inline;
                    margin: 0 5px;
                    padding: 0;
                }

    #searchForm
    {
        float: right;
        margin-top: 9px;
        margin-bottom: 5px;
        padding: 2px;
        position: relative;
        width: 300px;

        -moz-border-radius: 5px; /* Firefox */
        -webkit-border-radius: 5px; /* Safari, Chrome */
        border-radius: 5px; /* CSS3 */

        /* Cross-browser linear gradient */

        /* Default */
        background: #fe201b;
        /* WebKit (Safari, Google Chrome etc) */
        background: -webkit-gradient(linear, left top, left bottom, from(#fe201b), to(#cb0401));
        /* Webkit (Chrome 11+) */
        background: -webkit-linear-gradient(top, #fe201b 0%, #cb0401 100%);
        /* Mozilla/Gecko (Firefox etc) */
        background: -moz-linear-gradient(top, #fe201b, #cb0401);
        /* Opera */
        background: -o-linear-gradient(top, #fe201b 0%, #cb0401 100%);
        /* Internet Explorer 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFE201B, endColorstr=#FFCB0401);
        /* Internet Explorer 8 - 9 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFE201B, endColorstr=#FFCB0401)";
        /* Internet Explorer 10 */
        background: -ms-linear-gradient(top, #fe201b 0%, #cb0401 100%);
        /* Proposed W3C Markup */
        background: linear-gradient(top, #fe201b 0%, #cb0401 100%);
    }

        #searchField
        {
            border: 0;
            height: 22px;
            padding-left: 5px;
            width: 270px;

            -moz-border-radius: 3px; /* Firefox */
            -webkit-border-radius: 3px; /* Safari, Chrome */
            border-radius: 3px; /* CSS3 */
        }

        #btnSearch
        {
            background-color: transparent;
            border: 0;
            color: #fff;
            cursor: pointer;
            float: right;
            margin-top: 5px;
            padding: 0 1px 0 3px;
        }

        #searchForm .poweredByGoogle
        {
            color: #a3a3a3;
            font-size: 0.625em; /* 12x0.625=7.5 */
            margin-right: 30px;
            position: absolute;
            right: 0;
            text-align: right;
            top: 4px;
        }

            #searchForm .poweredByGoogle strong
            {
                font-size: 1.3em;
                font-weight: bold;
            }

.main-menu
{
    background-color: #dd0600;
    border-top: 1px solid #dd0800;
    clear: both;
    display: block;
    margin-top: 4px;
}

    .main-menu, .main-menu li
    {
        /* Cross-browser linear gradient */

        /* Default */
        background: #e10500;
        /* WebKit (Safari, Google Chrome etc) */
        background: -webkit-gradient(linear, left top, left bottom, from(#e10500), to(#cb0300));
        /* Webkit (Chrome 11+) */
        background: -webkit-linear-gradient(top, #e10500 0%, #cb0300 100%);
        /* Mozilla/Gecko (Firefox etc) */
        background: -moz-linear-gradient(top, #e10500, #cb0300);
        /* Opera */
        background: -o-linear-gradient(top, #e10500 0%, #cb0300 100%);
        /* Internet Explorer 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE10500, endColorstr=#FFCB0300);
        /* Internet Explorer 8 - 9 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE10500, endColorstr=#FFCB0300)";
        /* Internet Explorer 10 */
        background: -ms-linear-gradient(top, #e10500 0%, #cb0300 100%);
        /* Proposed W3C Markup */
        background: linear-gradient(top, #e10500 0%, #cb0300 100%);
    }

    .main-menu li
    {
        display: inline;
        float: left;
        border-left: 1px solid #df0c00;
        border-right: 1px solid #ac0600;
        white-space: nowrap;
    }

        .main-menu a
        {
            color: #fff;
            display: block;
            font-size: 1.17em; /* 12x1.17=14 */
            margin-bottom: 1px;
            padding: 7px 13px 7px 10px;
        }

        .main-menu a:hover
        {
            background: #c30000;
            border-left: 1px solid #c30000;
            margin-left: -1px;
            text-decoration: none;
        }

        .main-menu .active a:hover
        {
            background: #fff;
        }

    .main-menu li.active
    {
        background: #fff;
        font-weight: bold;
    }

        .main-menu li.active a
        {
            background: #fff;
            color: #d20d00;
        }

.sub-menu
{
    clear: both;
    display: block;
    margin-top: 10px;
}

    .sub-menu li
    {
        border-right: 1px solid #c0c0c0;
        display: inline;
        float: left;
        margin-right: 10px;
        padding-right: 10px;
    }

    .sub-menu li:last-child
    {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }

        .sub-menu a
        {
            color: #af180e;
            display: block;
        }
